#cocos2d
cocos2d/

#android
proj.android/

#IOS
proj.ios_mac/

#Linux
proj.linux/

#Windows Universal App
proj.win8.1-universal/

#win32
proj.win32/

#windows phone 8
proj.wp8-xaml/

#general
*.db
*.sdf
*.opensdf
*.cocos-project.json
CMakeLists.txt
temp/
old/
