#ignore folders in the cocos2d project folder
cocos2d/cocos/2d/Debug.win32/
cocos2d/cocos/audio/proj.win32/Debug.win32/
cocos2d/external/chipmunk/proj.win32/Debug.win32/

#proj.win32
proj.win32/Debug.win32/
proj.win32/*.sdf
proj.win32/*.opensdf
proj.android/assets/
proj.android/obj/
proj.android/libs/

Resources/Thumbs.db
